* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: #8e8c8c 2px 2px 10px 10px;
}

/* NAVBAR */

.nav {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

/* NAVBAR-LOGO */

.logo {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

/* NAVBAR-LINKS */

.nav-links {
  width: 60%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
}

.links li {
  font-size: 1rem;
  list-style: none;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.links li a {
  text-decoration: none;
  padding: 0.5rem;
  color: #000;
}

.links li:hover {
  border: 2px solid #000;
}

/* NAVBAR-BTN */

.buttons {
  position: relative;
  right: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  font-weight: 500;
}

.buttons .btn1 {
  margin-right: 1.5rem;
  border: 2px solid #000;
}

.buttons .btn2 {
  margin-left: 1.5rem;
  border: 2px solid #000;
}

/* HERO SECTION  */

.hero {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  font-size: 2.5vw;
  color: var(--Secondary-color);
  top: 5rem;
  left: 5rem;
  line-height: 0.8;
}

.hero-btn {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  background: transparent;
  border: 2px solid #000;
  outline: none;
  margin-top: 2rem;
  font-weight: 500;
  cursor: pointer;
}
